<!DOCTYPE html>
<html ng-app="tabulaApp" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>tabula viewer</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/tabula.css" rel="stylesheet">
  <script src="lib/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>

<body ng-controller="TabulaCtrl">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">tabula</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="https://github.com/nc6/tabula">repo for tabula</a>
          </li>
          <li>
            <a href="https://github.com/nc6/tabula-viewer">repo for tabula viewer</a>
          </li>
        </ul>
      </div>
      <!--/.navbar-collapse -->
    </div>
  </div>

  <div class="container">
    <div class="grey-box">
      <h1>Tabula log viewer</h1>
      <p>Enter a tabula project log name.</p>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="search-box" class="control-label col-xs-4 col-sm-3 col-md-1">Project log</label>
          <div class="col-xs-4 col-sm-6 col-md-8">
            <input type="text" id="project-name" class="form-control" placeholder="example.json">

          </div>
          <span class="input-group-btn col-xs-4 col-sm-3 col-md-2">
            <button type="button" class="btn btn-primary" id="btn-load-project">Load log</button>
          </span>
        </div>
      </form>
    </div>
  </div>
  </div>
  <!-- /container -->
  <div class="container">
    <h1 class="log-heading">Project log</h1>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="search-box" class="control-label col-xs-4 col-sm-3 col-md-1">Filter log</label>
        <div class="col-xs-4">
          <input type="text" class="form-control" id="search-box" ng-model="search">
        </div>
        <label for="search-box" class="control-label col-xs-4 col-sm-3 col-md-1">Filter by</label>
        <div class="col-xs-2">
          <select class="form-control" ng-model="filterType">
            <option value="command">Command</option>
            <!--
            <option value="workingDirectory">Directory</option>
            <option value="priorEnv">Environment</option>
-->
          </select>
        </div>
      </div>
    </form>
    <div id="project-data" ng-repeat="entry in (filteredEntries = (entries | filter: { entry.command : search }))">
      <h1 class="log-heading" ng-hide="isDateSameAsPrevious($index, filteredEntries)">{{getDate(entry.entry.startTime)}}</h2>
      <div class="tabula-entry panel panel-default">
        <div class="panel-body">
          <div class="tabula-entry-header" id="{{getId(entry, 'tabula-entry')}}">
            <span class="tabula-entry-starttime">{{getTime(entry.entry.startTime)}}</span>
            <span>to</span>
            <span class="tabula-entry-endtime">{{getTime(entry.entry.endTime)}}</span>
            <span class="tabula-entry-duration"></span>
          </div>
          <div class="tabula-entry-body">
            <span class="tabula-cwd" ng-click="changeDirLength(entry)"><p ng-show="isShort(entry)">{{getShortDir(entry.entry.workingDirectory)}}</p><p ng-hide="isShort(entry)">{{entry.entry.workingDirectory}}</p></span>
            <span class="tabula-command">{{entry.entry.command}}</span>
            <span class="tabula-exitstatus {{exitStatus(entry.entry.exitStatus)}}">
              <button class="lozenge" rel="popover" data-content="{{exitStatusInfo(entry.entry.exitStatus)}}">{{entry.entry.exitStatus}}</button>
            </span>
          </div>
          <div class="tabula-entry-footer">
            <ul class="nav nav-tabs">
              <li ng-class="{active: selectedTab === '{{getId(entry, 'tabula-env')}}'}">
                <a class="tabula-env-btn btn" href="#" ng-click="changeTab(entry, 'tabula-env')">Environment</a>
              </li>
              <li ng-class="{active: selectedTab === '{{getId(entry, 'tabula-stdin')}}'}">
                <a class="tabula-stdin-btn btn" href="#" ng-click="changeTab(entry, 'tabula-stdin')">stdin</a>
              </li>
              <li ng-class="{active: selectedTab === '{{getId(entry, 'tabula-stdout')}}'}">
                <a class="tabula-stdout-btn btn" href="#" ng-click="changeTab(entry, 'tabula-stdout')">stdout</a>
              </li>
              <li ng-class="{active: selectedTab === '{{getId(entry, 'tabula-stderr')}}'}">
                <a class="tabula-stderr-btn btn" href="#" ng-click="changeTab(entry, 'tabula-stderr')">stderr</a>
              </li>
            </ul>
            <div>
              <div class="tabula-env tab-pane" id="{{getId(entry, 'tabula-env')}}" ng-show="selectedTab === '{{getId(entry, 'tabula-env')}}'">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th>Key</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="env in entry.entry.priorEnv">
                      <td>{{env[0]}}</td>
                      <td>{{env[1]}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tabula-stdin tab-pane" id="{{getId(entry, 'tabula-stdin')}}" ng-show="selectedTab == '{{getId(entry, 'tabula-stdin')}}'">
                {{entry.entry.stdin}}
              </div>
              <div class="tabula-stdout tab-pane" id="{{getId(entry, 'tabula-stdout')}}" ng-show="selectedTab == '{{getId(entry, 'tabula-stdout')}}'">
                {{entry.entry.stdout}}
              </div>
              <div class="tabula-stderr tab-pane" id="{{getId(entry, 'tabula-stderr')}}" ng-show="selectedTab == '{{getId(entry, 'tabula-stderr')}}'">
                {{entry.entry.stderr}}
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer"></div>
      </div>
    </div>
  </div>

  <!-- Template -->
  <div id="template-entry-hidden" style="display:none;">Testing</div>
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/tabulate.js"></script>

</body>

</html>
