<!DOCTYPE html>
<html ng-app="tabulaApp" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>tabula viewer</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/tabula.css" rel="stylesheet">
</head>

<body ng-controller="TabulaCtrl">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">tabula</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="https://github.com/nc6/tabula">repo for tabula</a>
          </li>
          <li>
            <a href="https://github.com/nc6/tabula-viewer">repo for tabula viewer</a>
          </li>
        </ul>
      </div>
      <!--/.navbar-collapse -->
    </div>
  </div>

  <div class="container">
    <div class="grey-box">
      <h1>Tabula log viewer</h1>
      <p>Enter a tabula project log name.</p>
      <form class="form-horizontal" role="form" ng-submit="load(projectName)">
        <div class="form-group">
          <label for="search-box" class="control-label col-xs-4 col-sm-3 col-md-1">Project log</label>
          <div class="col-xs-4 col-sm-6 col-md-8">
            <input type="text" id="project-name" class="form-control" placeholder="example.json" ng-model="projectName">
          </div>
          <span class="input-group-btn col-xs-4 col-sm-3 col-md-2">
            <button type="button" type="submit" class="btn btn-primary" id="btn-load-project" ng-click="load(projectName)">Load log</button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <!-- /container -->
  <div class="container">
<!--    <div ng-show="entries">
      <h1 class="log-heading">Project log</h1>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="search-box" class="control-label col-xs-4 col-sm-3 col-md-1">Filter log</label>
          <div class="col-xs-4">
            <input type="text" class="form-control" id="search-box" ng-model="search">
          </div>
           this bit still doesn't work - I can't figure out how to change what the search is on
        <label for="search-box" class="control-label col-xs-4 col-sm-3 col-md-1">Filter by</label>
        <div class="col-xs-2">
          <select class="form-control" ng-model="filterType">
            <option value="command">Command</option>
            <option value="workingDirectory">Directory</option>
            <option value="priorEnv">Environment</option>
          </select>
        </div>
        
        </div>
      </form>
    </div>-->
    <div id="project-data" data-bind="foreach: entries">
      <h1 class="log-heading"></h1>
      <div class="tabula-entry panel panel-default">
        <div class="panel-body">
          <div class="tabula-entry-header">
            <span class="tabula-entry-starttime" data-bind="text: $root.getDate(entry.startTime)"></span>
            <span>to</span>
            <span class="tabula-entry-endtime" data-bind="text: $root.getDate(entry.endTime)"></span>
            <span class="tabula-entry-duration"></span>
          </div>
          <div class="tabula-entry-body">
            <span class="tabula-cwd" data-bind="click: $root.changeDirLength.bind(entry.dirLength)">
              <p data-bind="text: entry.workingDirectory, visible: entry.dirLength() === 'long' "></p>
              <p data-bind="text: $root.shortDir(entry.workingDirectory), visible: entry.dirLength() === 'short' "></p>
<!--            TODO: show/hide short/long dir  <p ng-hide="isShort(entry)">{{entry.entry.workingDirectory}}</p>-->
            </span>
            <span class="tabula-command" data-bind="text: entry.command"></span>
            <span class="tabula-exitstatus" data-bind="css: { exitSuccess : entry.exitStatus == 0, exitFailure : entry.exitStatus > 0 && entry.exitStatus < 128, exitKilled : entry.exitStatus >= 128 } ">
<!--    TODO: hide logic in class collector inside viewer          -->
              <span class="lozenge" data-bind="text: entry.exitStatus"></span>
            </span>
          </div>
          <div class="tabula-entry-footer">
            <ul class="nav nav-tabs">
              <li data-bind="css: { active : entry.selectedTab() === 'env' } ">
                <a class="tabula-env-btn btn" href="" data-bind="click: $root.changeTab.bind(entry.selectedTab, 'env')">Environment</a>
                
              </li>
              <li data-bind="css: { active : entry.selectedTab() === 'stdin' } ">
                <a class="tabula-stdin-btn btn" href="" data-bind="click: $root.changeTab.bind(entry.selectedTab, 'stdin')">stdin</a>
              </li>
              <li data-bind="css: { active : entry.selectedTab() === 'stdout' } ">
                <a class="tabula-stdout-btn btn" href="" data-bind="click: $root.changeTab.bind(entry.selectedTab, 'stdout')">stdout</a>
              </li>
              <li data-bind="css: { active : entry.selectedTab() === 'stderr' } ">
                <a class="tabula-stderr-btn btn" href="" data-bind="click: $root.changeTab.bind(entry.selectedTab, 'stderr')">stderr</a>
              </li>
            </ul>
            <div>
              <div class="tabula-env tab-pane" data-bind="visible: entry.selectedTab() === 'env'">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th>Key</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody data-bind="foreach: entry.priorEnv">
                    <tr>
                      <td data-bind="text: $data[0]"></td>
                      <td data-bind="text: $data[1]"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tabula-stdin tab-pane" data-bind="visible: entry.selectedTab() === 'stdin', text: entry.stdin !== '' ? entry.stdin : 'nothing to display'"></div>
              <div class="tabula-stdout tab-pane" data-bind="visible: entry.selectedTab() === 'stdout', text: entry.stdout !== '' ? entry.stdout : 'nothing to display'"></div>
              <div class="tabula-stderr tab-pane" data-bind="visible: entry.selectedTab() === 'stderr', text: entry.stderr !== '' ? entry.stderr : 'nothing to display'"></div>
            </div>
          </div>
        </div>
        <div class="panel-footer"></div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src='js/knockout.js'></script>
  <script src="js/viewmodel.js"></script>
</body>

</html>
